.review_container {
    padding: 80px 0;
}
 .review_header {
    display: flex;
    padding: 0 0 40px 0;
    align-items: center;
    justify-content: space-between;
 }

 .review_title p{
    text-align: start;
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
}

.review_slider_button {
    display: flex;
    gap: 16px;
    padding: 38.2px 0 0 0;
}

.cst_msg_containter {
    gap: 20px;
    display: flex;
}

.specific_cst_msg {
    width: 400px;
    height: 240px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: inline-block;
    list-style: none;
}

.msg_data{
    padding: 28px 32px 0 32px;
}

.cst_review {
    display: flex;
    flex-direction: row;
}

.cst_name_verified{
    padding: 15px 0 12px;
    display: flex;
    gap: 6.25px;
}

.cst_name_verified .cst_name{
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.cst_name_verified .cst_verified {
    max-width: 19.5px;
}

.msg_data .cst_msg_review{
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}


/* .bx-wrapper {
    } */
    
    .bx-wrapper {
    max-width: 100% !important;
    margin: 0;
    margin-bottom: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }
  
  /* .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
  } */

@media only screen and (max-width: 786px) {

    .review_container {
        padding: 50px 0;
    }

    .review_title p{
        font-size: 32px;
        line-height: 36px;
    }

    .review_header {
        display: flex;
        padding: 0 0 24px 0;
        align-items: center;
        justify-content: space-between;
     }

     .review_slider_button {
        padding: 48px 0 0 0;
     }

     .cst_msg_block_2 , .cst_msg_block_3 {
        display: none;
     }

     .specific_cst_msg {
        width: auto;
        height: auto;
        display: inline-block;
        list-style: none;
        /* max-height: 200px; */
     }

     .msg_data{
        padding: 24px ;
    }

    .cst_name_verified {
        padding: 12px 0 8px;
        gap: 4px;
    }

    .cst_name_verified .cst_name{
        font-size: 16px;
        line-height: 22px;
    }
    
    .msg_data .cst_msg_review{
        font-size: 14px;
        line-height: 20px;
    }
    

}