.product_det_rate_faqs .page_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 0 24px 0;
}

.product_det_rate_faqs .product_details_container, 
.product_det_rate_faqs .raing_review_container, 
.product_det_rate_faqs .faq_container{
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .product_det_rate_faqs .raing_review_container p{
    padding-bottom: 10px;
    border-bottom: 6px solid black;
} */
.product_det_rate_faqs .page_wrapper .active {
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.men-clothes-divider-line .line-wrapper {
    position: relative;
    height: 2px;
}

.men-clothes-divider-line .light-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.men-clothes-divider-line .dark-line {
    position: absolute;
    top: 0;
    left: 33.33%;
    width: 33.33%;
    height: 2px;
    background-color: black;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.men-clothes-divider-line .dark-line {
    opacity: 1;
}

 .cloth_review_container {
    padding: 0 !important;
}

.cloth_all_review_and_filter_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
}

.cloth_all_review_and_filter_options .all_review_title_total {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cloth_all_review_and_filter_options .all_review_title_total .all_review_total{
    color: #00000099;
}

.cloth_all_review_and_filter_options .all_review_title {
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}

.cloth_all_review_and_filter_options .all_review_total {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.cloth_review_container .cloth_review_filter_options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.cloth_review_container .cloth_review_filter_options .filter_shorting_icon i {
    transform: rotate(90deg);
}

.cloth_review_container .review_shorting_by_time .review_time p, .cloth_review_container .write_review p{
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
}
.cloth_review_container .review_shorting_by_time .review_time {
    display: flex;
    gap: 21px;
    padding: 13px 20px;
    background-color: #F0F0F0;
    border-radius: 62px;
}

.cloth_review_container .cloth_review_filter_options .filter_shorting_icon {
    padding: 12px;
    background-color: #F0F0F0;
    border-radius: 62px;
    aspect-ratio: 1 /1;
}
.cloth_review_container .write_review {
    padding: 13px 20px;
    background-color: black;
    color: white;
    border-radius: 62px;

}



.cst_msg_containter {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Create 2 equal columns */
    gap: 20px; /* Adjust the gap between items */
}

.specific_cst_msg {
    width: auto !important ;
}

.msg_data {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px 0;
}

.specific_cst_msg .msg_data .review_posted_date p{
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

}

.cloth_review_container .load_more_reviews .page_wrapper{
    display: flex;
    justify-content: center;
    padding: 36.42px 0 0;
}

.cloth_review_container .load_more_reviews p{
    display: flex;
    justify-content: center;
    padding: 15px 45px;
    border: 1px solid #0000001A;
    border-radius: 62px;
}

.offer_footer_container {
    padding: 78px 0 0 0 !important;
}

.new_arrivals_container {
    margin: 64px 0 0 !important;
}


@media only screen and (max-width: 786px) {

    .cst_msg_containter {
        display: grid;
        grid-template-columns: auto;
        gap: 20px; /* Adjust the gap between items */
    }

    .product_det_rate_faqs .page_wrapper .active {
        font-size: 15px;
    }

    .product_det_rate_faqs .product_details_container, 
    .product_det_rate_faqs .raing_review_container, 
    .product_det_rate_faqs .faq_container {
        font-size: 16px;
    }

    .product_det_rate_faqs .page_wrapper {
        padding: 50px 0 20px 0;
    }

    .review_shorting_by_time {
        display: none;
    }

    .cloth_all_review_and_filter_options .all_review_title {
        font-size: 20px;
        line-height: 27px;
    }

    .cloth_all_review_and_filter_options .all_review_title_total {
        gap: 6px;
    }

    .cloth_review_container .review_shorting_by_time .review_time p, .cloth_review_container .write_review p {
            font-size: 12px;
        line-height: 16.2px;
    }

    .cloth_review_container .write_review {
        padding: 12px 16px;
    }
    
    .cloth_review_container .cloth_review_filter_options .filter_shorting_icon {
        padding: 10px;
    }
}